*{box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.projectSlides {display: none}
img {vertical-align: middle;}

html{
    background-color: #2b7a78;
}

ul, nav{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/* styling for the intro section */
.pp {
    padding: 100px;
    background-color: #3aafa9;
    }
    
.profile {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }
    
.pp h1 {
        font: 60px 'Open Sans', sans-serif;
        margin-bottom: 15px;
        color: white;
    }


    
section{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 125px 100px;
    }

section p{
        max-width: 800px;
        text-align: center;
        margin-bottom: 35px;
        padding: 0 20px;
        line-height: 2;
        color: white;
    }


/* styling for the image slideshow */
.projects {
background-color: #2b7a78;
}

h1 {
    color: white;
    text-align: center;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background: rgb(0, 0, 0);
  background: rgba(0,0,0,0.5);
  opacity: 0;
  transition: .5s ease;
}

.projectSlides:hover .text{
    opacity: 1;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*styling for the other work section */
.work {
    background-color: #3aafa9;
}

.row {
    margin: 8px -16px;
  }
  
  .row,
  .row > .column {
    padding: 8px;
  }

  .column {
    float: left;
    width: 33.33%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content {
    background-color: white;
    padding: 10px;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
  }

  .content .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
    }
    
    .content img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
    }
    
    .content h2 {
    text-transform:uppercase;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:17px;
    background:rgba(0,0,0,0.6);
    -webkit-transform:translatey(-100px);
    -ms-transform:translatey(-100px);
    transform:translatey(-100px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:10px;
    }
    
    .content a.link {
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color:#fff;
    border:1px solid #fff;
    background-color:transparent;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    margin:50px 0 0;
    padding:7px 14px;
    }
    
    .content a.link:hover {
    box-shadow:0 0 5px #fff;
    }
    
    .content:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
    }
    
    .content:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
    }
    
    .content:hover h2,.content:hover a.link {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
    }
    
    .content:hover a.link {
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
    }

 @media screen and (max-width: 800px) {
    .column {
       flex: 50%;
       max-width: 50%;
    }
 }
 @media screen and (max-width: 600px) {
    .column {
       flex: 100%;
       max-width: 100%;
    }
 }

 /* styling for about/skills section */

.about {
    background-color: #2b7a78;
}

 .inner {
     padding: 20px;
 }

 .header-about {
     text-align: center;
     position: relative;
     color: white;
     padding: 1rem;
 }

 .header-about:after{
     content: '';
     position: absolute;
     bottom: 0;
     left: 50%;
     transform: translateX(-50%);
     height: 4px;
     width: 100px;
     background-color: #3aafa9;
     border-radius: 2px;
 }

 .about-container{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     justify-content: center;
     align-items: center;
     text-align: center;
     grid-gap: 1rem;
     padding: 1rem 80px;
     font-size: 1.2rem;
 }

 .about-skills{
     padding: 1rem;
     color: white;
     cursor: pointer;
 }

 .about-skills:hover > .skills-title:after, .about-skills:hover > .skills-title:before{
     width: 35px;
 }

 .about-skills:hover .skills-image{
     transform: translateY(-10px);
 }

 .skills-title{
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 0.5rem;
     margin: 0.5rem;
     position: relative;
 }

 .skills-title:after{
     content: '';
     position: absolute;
     bottom: 0;
     right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: #3aafa9;
    transition: 0.5s;
 }

 .skills-title:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
   width: 0;
   height: 4px;
   border-radius: 0 2px 2px 0;
   background-color: #3aafa9;
   transition: 0.5s;
}

 .skills-title h3{
     color: white;
     margin-top: 0.5rem;
 }

 .skills-image{
     width: 90px;
     height: 90px;
     position: relative;
     border-radius: 45px;
     background-color: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: 0.5s;
 }

 .skills-image:after{
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 50%;
     height: 90px;
     background: rgba(100,100,100,0.5);
     border-radius: 45px 0 0 45px;
 }

 .skill-icon{
     width: 80px;
     z-index: 2;
 }

 @media screen and (max-width: 990px){
     .about-container{
         grid-template-columns: repeat(2, 1fr);
         padding: 2rem 50px;
     }
 }

 @media screen and (max-width: 650px){
    .about-container{
        grid-template-columns: 1fr;
    }
}

    /* Styling for contact section */

    .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: #def2f1;
        background-color: #3aafa9;
        padding: 60px 0;
    }
    
    .contact-h1 {
        font: 40px 'Open Sans', sans-serif;
        margin-bottom: 15px;
        color: #def2f1;
    }
    
    section p{
        margin-bottom: 10px;
    }
    
    section ul{
        display: flex;
        margin-bottom: 25px;
        font-size: 32px;
    }
    
    section ul li{
        margin: 0 8px;	
    }
    
    section ul li:first-child{
        margin-left: 0;	
    }
    
    section ul li:last-child{
        margin-right: 0;	
    }
    
    @media (max-width: 700px){
    
        .contact{
            padding: 80px 15px;
        }
    
    }

    /* Footer */

    footer{
        color: white;
        background-color: #2b7a78;
        text-align: center;
    }